# Capstone part 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
!unzip -o global_crops.csv.zip

Archive:  global_crops.csv.zip
  inflating: global_crops.csv
   creating: __MACOSX/
  inflating: __MACOSX/._global_crops.csv

In [3]:
# read in data
# global crops data + dict
glob = pd.read_csv('./global_crops.csv')
glob_dict = pd.read_csv('./world_crops.csv')

# Hillesdon data + dict

hill = pd.read_csv('./Hillesden_crop_yield(csv).csv')
hill_dict = pd.read_csv('./Hillesdon.csv')

# Argentina data + dict

arg = pd.read_csv('./argentina.csv', header=1)
arg_dict = pd.read_csv('./Argy.csv')

# europe data + dict

eur = pd.read_csv('./europe.csv', sep=',', quotechar='"', encoding='latin1')
eur_dict = pd.read_csv('./euro.csv')

## Global

In [4]:
glob = glob.drop('element', axis = 1)

In [5]:
glob = glob.drop('value_footnotes', axis = 1)

In [7]:
glob.head(2)

  country_or_area element_code    year unit    value          category
0      Americas +           31  2007.0   Ha  49404.0  agave_fibres_nes
1      Americas +           31  2006.0   Ha  49404.0  agave_fibres_nes

In [8]:
glob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2255349 entries, 0 to 2255348
Data columns (total 6 columns):
country_or_area    object
element_code       object
year               float64
unit               object
value              float64
category           object
dtypes: float64(2), object(4)
memory usage: 103.2+ MB

In [9]:
glob_dict

        Unnamed: 0                                         Unnamed: 1
0  Country_or_area  Contains the names of each country that is inc...
1             Year  This states the year that the data was collect...
2             Unit  This states the unit of measurement that the c...
3            Value  This states the quantity of the crop harvested...
4         Category  This states the type of crop harvested. This r...

## Hillesdon

In [10]:
hill = hill.drop('Ratio', axis =1)
hill = hill.drop('Notes', axis=1)
hill = hill.drop('Unnamed: 11', axis = 1)

In [11]:
hill = hill.drop('Unnamed: 12', axis=1)

In [12]:
hill = hill.drop('Unnamed: 13', axis = 1)

In [13]:
hill = hill.drop('Unnamed: 14', axis=1)

In [17]:
hill = hill.drop('Block', axis=1)

In [18]:
hill.head(2)

,Year,Treatment,Field Name,Field Area,Crop,Quantity,Yield/ha,Defra SE regional average yield t/ha
0,2006,Cross-compliance,Chorleys,13.57,Oilseed rape,49.39,3.64,3.2
1,2006,Cross-compliance,Marsh Meadow,12.18,Oilseed rape,45.55,3.74,3.2

In [19]:
hill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 8 columns):
Year                                    342 non-null int64
Treatment                               342 non-null object
Field Name                              342 non-null object
Field Area                              342 non-null float64
Crop                                    342 non-null object
Quantity                                342 non-null float64
Yield/ha                                342 non-null float64
Defra SE regional average yield t/ha    342 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.5+ KB

In [16]:
hill_dict

  Unnamed: 0                                         Unnamed: 1
0       Year  This states the year of which the samples were...
1  Treatment  The treatment states the level of Organic trea...
2  FieldName      The name of the field in the region of the UK
3  FieldArea                  The area in Hectares of the Field
4       Crop  The type of crop harvested from the field whic...
5      Yield          The amount of crop per hectare harvested.
6     tonnes  The number of tonnes of crop per hectare harve...
7      Ratio  The ratio of crop harvested to tonne harvested...

In [40]:
hill.head(2)

,Year,Treatment,Field Name,Field Area,Crop,Quantity,Yield/ha,Defra SE regional average yield t/ha
0,2006,Cross-compliance,Chorleys,13.57,Oilseed rape,49.39,3.64,3.2
1,2006,Cross-compliance,Marsh Meadow,12.18,Oilseed rape,45.55,3.74,3.2

In [41]:
hill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 8 columns):
Year                                    342 non-null int64
Treatment                               342 non-null object
Field Name                              342 non-null object
Field Area                              342 non-null float64
Crop                                    342 non-null object
Quantity                                342 non-null float64
Yield/ha                                342 non-null float64
Defra SE regional average yield t/ha    342 non-null float64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.5+ KB

In [23]:
hill_dict

  Unnamed: 0                                         Unnamed: 1
0       Year  This states the year of which the samples were...
1  Treatment  The treatment states the level of Organic trea...
2  FieldName      The name of the field in the region of the UK
3  FieldArea                  The area in Hectares of the Field
4       Crop  The type of crop harvested from the field whic...
5      Yield          The amount of crop per hectare harvested.
6     tonnes  The number of tonnes of crop per hectare harve...
7      Ratio  The ratio of crop harvested to tonne harvested...

# Argentina

In [20]:
arg = arg.drop('ID Provincia', axis =1)

In [23]:
arg = arg.drop('Departamento', axis = 1)

In [24]:
arg = arg.drop('Id Cultivo', axis = 1)

In [25]:
arg = arg.drop('ID Campaña', axis=1)

In [42]:
arg.head(2)

,Provincia,ID Departamento,Cultivo,Campana,Sup. Sembrada (Ha),Sup. Cosechada (Ha),Producción (Tn),Rendimiento (Kg/Ha)
0,BUENOS AIRES,854,Ajo,1969/70,3.0,3.0,10,3.333
1,BUENOS AIRES,854,Ajo,1970/71,1.0,1.0,3,3.000

In [49]:
argy = arg.rename(columns={'Provincia':'Province','Cultivo':'Cultivated','Cultivo':'Date','Sup. Sembrada (Ha)':'Hectares_sown',
                           'Sup. Cosechada (Ha)':'Hectares_Harvested','Producción (Tn)':'Tonnes','Rendimiento (Kg/Ha)':'Harvest_performance'})

In [53]:
arg = argy.drop('ID Departamento', axis =1)
arg.head(2)

,Province,Date,Campana,Hectares_sown,Hectares_Harvested,Tonnes,Harvest_performance
0,BUENOS AIRES,Ajo,1969/70,3.0,3.0,10,3.333
1,BUENOS AIRES,Ajo,1970/71,1.0,1.0,3,3.000

In [56]:
argy = arg.rename(columns={'Date':'Cultivated', 'Campana':'Date'})

In [59]:
arg = argy
arg.head(2)

,Province,Cultivated,Date,Hectares_sown,Hectares_Harvested,Tonnes,Harvest_performance
0,BUENOS AIRES,Ajo,1969/70,3.0,3.0,10,3.333
1,BUENOS AIRES,Ajo,1970/71,1.0,1.0,3,3.000

In [27]:
arg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65498 entries, 0 to 65497
Data columns (total 8 columns):
Provincia              65498 non-null object
ID Departamento        65498 non-null int64
Cultivo                65498 non-null object
Campana                65498 non-null object
Sup. Sembrada (Ha)     65498 non-null float64
Sup. Cosechada (Ha)    65498 non-null float64
Producción (Tn)        65498 non-null object
Rendimiento (Kg/Ha)    65498 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.0+ MB

In [28]:
arg_dict

            Unnamed: 0                                         Unnamed: 1
0             Province  The location at which the crop is sown and har...
1           Cultivated  The type of crop harvested which ranges from c...
2                 Date               The years harvested from 1969 - 2016
3        Hectares_Sown  The Number of hectares of the crop that were s...
4   Hectares_Harvested  The number of hectares of the crop successfull...
5               Tonnes  Number of tonnes obtained from harvesting the ...
6  Harvest_performance  The success rate of the harvesting of the desi...

## Europe

In [36]:
eur = eur.drop('Flag and Footnotes', axis=1)

In [61]:
eur = eur.rename(columns={'STRUCPRO':'Type'})

In [62]:
eur.head(2)

,TIME,GEO,CROPS,Type,Value
0,2009,"European Union (EU6-1972, EU9-1980, EU10-1985,...",Cereals for the production of grain (including...,Area (cultivation/harvested/production) (1000 ha),"58,935.04"
1,2009,"European Union (EU6-1972, EU9-1980, EU10-1985,...",Dry pulses and protein crops for the productio...,Area (cultivation/harvested/production) (1000 ha),"1,312.44"

In [63]:
eur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18810 entries, 0 to 18809
Data columns (total 5 columns):
TIME     18810 non-null int64
GEO      18810 non-null object
CROPS    18810 non-null object
Type     18810 non-null object
Value    18810 non-null object
dtypes: int64(1), object(4)
memory usage: 734.8+ KB

In [39]:
eur_dict

  Unnamed: 0                                         Unnamed: 1
0        Geo  The country of which the crop was harvested fr...
1       Time  The year of which the crop was harvested to se...
2      Crops  This is one of three different ‘crops’; Grassl...
3      Value      The amount of the crop harvested in the type.
4       Type  The type in which the value was harvested. Thi...

In [3]:
!rm global_crops.csv