In [1]:
import pandas as pd
import numpy as np

from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

from sklearn import cluster
from sklearn.cluster import DBSCAN
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet, fcluster
from scipy.spatial.distance import pdist, squareform

import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm_notebook

In [2]:
argentina = pd.read_csv('../../resource-datasets/capstone/argentina.csv')

In [3]:
argentina

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,ID Provincia,Provincia,ID Departamento,Departamento,Id Cultivo,Cultivo,ID Campaña,Campana,Sup. Sembrada (Ha),Sup. Cosechada (Ha),Producción (Tn),Rendimiento (Kg/Ha)
1,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,1,1969/70,3,3,10,3.333
2,6,BUENOS AIRES,854,25 DE MAYO,1,Ajo,2,1970/71,1,1,3,3
3,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,1,1969/70,15,15,82,5.467
4,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,2,1970/71,10,10,55,5.5
5,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,3,1971/72,8,8,44,5.5
6,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,4,1972/73,8,8,69,8.625
7,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,5,1973/74,10,10,85,8.5
8,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,6,1974/75,15,15,126,8.4
9,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,7,1975/76,15,15,81,5.4
10,6,BUENOS AIRES,14,ADOLFO GONZALES CHAVES,1,Ajo,8,1976/77,15,15,61,4.067
11,6,BUENOS AIRES,21,ALBERTI,1,Ajo,1,1969/70,5,5,7,1.4
12,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,1,1969/70,2,2,8,4
13,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,2,1970/71,3,3,12,4
14,6,BUENOS AIRES,28,ALMIRANTE BROWN,1,Ajo,3,1971/72,3,3,11,3.667
15,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,1,1969/70,6,6,15,2.5
16,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,2,1970/71,5,5,15,3
17,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,3,1971/72,6,5,14,2.8
18,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,4,1972/73,8,7,17,2.429
19,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,5,1973/74,9,9,27,3
20,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,6,1974/75,8,8,27,3.375
21,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,7,1975/76,7,7,24,3.429
22,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,8,1976/77,10,10,37,3.7
23,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,9,1977/78,11,11,41,3.727
24,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,10,1978/79,8,8,26,3.25
25,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,11,1979/80,10,10,35,3.5
26,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,12,1980/81,12,12,44,3.667
27,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,15,1983/84,10,10,38,3.8
28,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,16,1984/85,12,12,44,3.667
29,6,BUENOS AIRES,77,ARRECIFES,1,Ajo,17,1985/86,10,10,33,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...
65469,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,37,2005/06,4.2,2.05,11.07,5.4
65470,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,38,2006/07,4.5,1.3,7.8,6
65471,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,39,2007/08,4.5,2,10.4,5.2
65472,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,40,2008/09,4.2,1.1,3.41,3.1
65473,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,41,2009/10,3.5,1.7,12.24,7.2
65474,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,42,2010/11,4.2,3,20.8,6.933
65475,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,43,2011/12,5,2.41,15.91,6.602
65476,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,44,2012/13,13,11.65,88.54,7.6
65477,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,45,2013/14,13.6,9.3,55.8,6
65478,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,46,2014/15,23.2,18.2,109.2,6
65479,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,47,2015/16,30,22.15,190.49,8.6
65480,6,BUENOS AIRES,518,MAR CHIQUITA,32,Maiz,48,2016/17,21,18.9,134.19,7.1
65481,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,1,1969/70,1.2,1.2,3.24,2.7
65482,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,2,1970/71,1.25,1.25,3.375,2.7
65483,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,3,1971/72,1,700,1.4,2
65484,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,4,1972/73,1,380,1.33,3.5
65485,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,5,1973/74,1,1,2.8,2.8
65486,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,6,1974/75,1.09,500,1.25,2.5
65487,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,7,1975/76,1,500,1,2
65488,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,8,1976/77,1.5,1.5,4.65,3.1
65489,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,9,1977/78,1.8,1.7,5.3,3.118
65490,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,10,1978/79,1.9,1.9,3.8,2
65491,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,11,1979/80,1,900,2.07,2.3
65492,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,12,1980/81,1,1,4,4
65493,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,13,1981/82,800,800,2.4,3
65494,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,14,1982/83,1,1,3.1,3.1
65495,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,15,1983/84,1,1,2.9,2.9
65496,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,16,1984/85,1,1,3.5,3.5
65497,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,17,1985/86,1,1,2.5,2.5
65498,6,BUENOS AIRES,525,MARCOS PAZ,32,Maiz,18,1986/87,1,1,2.9,2.9

In [4]:
argentina['Unnamed: 7'].unique()

array(['Campana', '1969/70', '1970/71', '1971/72', '1972/73', '1973/74',
       '1974/75', '1975/76', '1976/77', '1977/78', '1978/79', '1979/80',
       '1980/81', '1983/84', '1984/85', '1985/86', '1986/87', '1987/88',
       '1981/82', '1982/83', '1989/90', '1990/91', '1991/92', '1992/93',
       '1993/94', '1994/95', '1995/96', '1996/97', '1997/98', '1988/89',
       '1999/00', '1998/99', '2008/09', '2000/01', '2001/02', '2002/03',
       '2003/04', '2004/05', '2009/10', '2010/11', '2011/12', '2005/06',
       '2006/07', '2007/08', '2012/13', '2013/14', '2014/15', '2015/16',
       '2016/17'], dtype=object)

In [5]:
farm = pd.read_csv('../../resource-datasets/capstone/data.csv')

In [6]:
farm = pd.DataFrame(farm)

In [7]:
farm.LOCATION.unique()

array(['AUS', 'CAN', 'JPN', 'KOR', 'MEX', 'NZL', 'TUR', 'USA', 'ARG',
       'BRA', 'CHL', 'CHN', 'COL', 'EGY', 'ETH', 'IND', 'IDN', 'IRN',
       'KAZ', 'MYS', 'NGA', 'PAK', 'PRY', 'PHL', 'RUS', 'SAU', 'ZAF',
       'THA', 'UKR', 'VNM', 'WLD', 'OECD', 'BRICS', 'NOR', 'CHE', 'EU28',
       'ISR'], dtype=object)

- COL =Columbia,
- IDN = Indonesia,
- IRN = Iran,
- KAZ = Khazakstan,
- MYS = Malaysia,
- NGA = Nigeria,
- PRY = Paraguay,
- PHL = Philippines,
- ZAF = South Africa,
- WLD = World,
- OCED = Organisation for Economic Co-operation and Development
- NOR = Norway,
- CHE = Switzerland,
- ISR = Israel,
- EU28 = European Union,
- BRICS = Brazil, Russia, India, China and South Africa.

In [8]:
farm

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,CROPYIELD,RICE,TONNE_HA,A,1990,5.374114,NaN
1,AUS,CROPYIELD,RICE,TONNE_HA,A,1991,5.374114,NaN
2,AUS,CROPYIELD,RICE,TONNE_HA,A,1992,5.897753,NaN
3,AUS,CROPYIELD,RICE,TONNE_HA,A,1993,5.903150,NaN
4,AUS,CROPYIELD,RICE,TONNE_HA,A,1994,5.221311,NaN
5,AUS,CROPYIELD,RICE,TONNE_HA,A,1995,5.457576,NaN
6,AUS,CROPYIELD,RICE,TONNE_HA,A,1996,5.925000,NaN
7,AUS,CROPYIELD,RICE,TONNE_HA,A,1997,4.257047,NaN
8,AUS,CROPYIELD,RICE,TONNE_HA,A,1998,5.545181,NaN
9,AUS,CROPYIELD,RICE,TONNE_HA,A,1999,6.270739,NaN
10,AUS,CROPYIELD,RICE,TONNE_HA,A,2000,5.924013,NaN
11,AUS,CROPYIELD,RICE,TONNE_HA,A,2001,5.506511,NaN
12,AUS,CROPYIELD,RICE,TONNE_HA,A,2002,6.191418,NaN
13,AUS,CROPYIELD,RICE,TONNE_HA,A,2003,5.521278,NaN
14,AUS,CROPYIELD,RICE,TONNE_HA,A,2004,6.380197,NaN
15,AUS,CROPYIELD,RICE,TONNE_HA,A,2005,5.555994,NaN
16,AUS,CROPYIELD,RICE,TONNE_HA,A,2006,4.414967,NaN
17,AUS,CROPYIELD,RICE,TONNE_HA,A,2007,6.556218,NaN
18,AUS,CROPYIELD,RICE,TONNE_HA,A,2008,5.436050,NaN
19,AUS,CROPYIELD,RICE,TONNE_HA,A,2009,5.558334,NaN
20,AUS,CROPYIELD,RICE,TONNE_HA,A,2010,5.643453,NaN
21,AUS,CROPYIELD,RICE,TONNE_HA,A,2011,6.940944,NaN
22,AUS,CROPYIELD,RICE,TONNE_HA,A,2012,6.345276,NaN
23,AUS,CROPYIELD,RICE,TONNE_HA,A,2013,5.943481,NaN
24,AUS,CROPYIELD,RICE,TONNE_HA,A,2014,6.852982,NaN
25,AUS,CROPYIELD,RICE,TONNE_HA,A,2015,7.283640,NaN
26,AUS,CROPYIELD,RICE,TONNE_HA,A,2016,6.610538,NaN
27,AUS,CROPYIELD,RICE,TONNE_HA,A,2017,7.267326,NaN
28,AUS,CROPYIELD,RICE,TONNE_HA,A,2018,6.791594,NaN
29,AUS,CROPYIELD,RICE,TONNE_HA,A,2019,6.859590,NaN
...,...,...,...,...,...,...,...,...
16210,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1998,30573.711455,NaN
16211,OECD,CROPYIELD,SOYBEAN,THND_HA,A,1999,31225.734814,NaN
16212,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2000,31235.022753,NaN
16213,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2001,31440.092696,NaN
16214,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2002,31067.659284,NaN
16215,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2003,31232.052480,NaN
16216,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2004,31924.305609,NaN
16217,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2005,31178.835390,NaN
16218,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2006,32287.242853,NaN
16219,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2007,27850.975313,NaN
16220,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2008,32074.317413,NaN
16221,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2009,33022.055034,NaN
16222,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2010,33347.113923,NaN
16223,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2011,32305.944826,NaN
16224,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2012,33348.143724,NaN
16225,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2013,33618.012134,NaN
16226,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2014,36652.252330,NaN
16227,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2015,36645.182825,NaN
16228,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2016,37014.156175,NaN
16229,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2017,40652.191603,NaN
16230,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2018,40702.048074,NaN
16231,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2019,40630.339482,NaN
16232,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2020,40805.712495,NaN
16233,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2021,40955.807638,NaN
16234,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2022,41182.241385,NaN
16235,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2023,41397.290107,NaN
16236,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2024,41602.683420,NaN
16237,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2025,41814.163075,NaN
16238,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2026,42021.977275,NaN
16239,OECD,CROPYIELD,SOYBEAN,THND_HA,A,2027,42233.761475,NaN

In [9]:
global_food = pd.read_csv('../../resource-datasets/capstone/global_crops.csv')

In [10]:
global_food.country_or_area.unique()

array(['Americas +', 'Asia +', 'Caribbean +', 'Central America +',
       'Colombia', 'Cuba', 'Ecuador', 'El Salvador', 'Guatemala',
       'Low Income Food Deficit Countries +', 'Mexico',
       'Net Food Importing Developing Countries +', 'Nicaragua',
       'Philippines', 'Small Island Developing States +',
       'South America +', 'South-Eastern Asia +', 'World +', 'fnSeqID',
       'Fc', 'A ', 'NR', 'F ', '* ', 'Afghanistan', 'Africa +', 'Algeria',
       'Argentina', 'Armenia', 'Australia', 'Australia and New Zealand +',
       'Azerbaijan', 'Bosnia and Herzegovina', 'Bulgaria', 'Burkina Faso',
       'Central Asia +', 'Chile', 'China', 'China, mainland',
       "Côte d'Ivoire", 'Croatia', 'Cyprus', 'Eastern Asia +',
       'Eastern Europe +', 'Europe +', 'European Union +', 'France',
       'Georgia', 'Greece', 'Hungary', 'Iran, Islamic Republic of',
       'Iraq', 'Israel', 'Italy', 'Jordan', 'Kazakhstan', 'Kyrgyzstan',
       'LandLocked developing countries +', 'Least Developed Countries +',
       'Lebanon', 'Libyan Arab Jamahiriya', 'Moldova', 'Morocco', 'Nepal',
       'Northern Africa +', 'Northern America +',
       'Occupied Palestinian Territory', 'Oceania +', 'Pakistan',
       'Portugal', 'Slovenia', 'Southern Africa +', 'Southern Asia +',
       'Southern Europe +', 'Spain', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'The former Yugoslav Republic of Macedonia',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Ukraine',
       'United Arab Emirates', 'United States of America', 'USSR',
       'Uzbekistan', 'Western Africa +', 'Western Asia +',
       'Western Europe +', 'Yemen', 'Yugoslav SFR', 'Bangladesh',
       'Canada', 'Denmark', 'Eastern Africa +', 'Egypt', 'Ethiopia',
       'Ethiopia PDR', 'India', 'Kenya', 'Madagascar', 'Malawi',
       'Netherlands', 'Northern Europe +', 'Peru', 'Poland', 'Romania',
       'Russian Federation', 'Slovakia', 'Tanzania, United Republic of',
       'Viet Nam', 'Zimbabwe', 'Albania', 'Austria', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Bhutan', 'Bolivia', 'Brazil',
       'Czech Republic', 'Czechoslovakia', 'Estonia', 'Finland',
       'Germany', 'Grenada', 'Honduras', 'Ireland', 'Japan',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro',
       'New Zealand', 'Norway', 'Paraguay', 'Réunion',
       'Saint Vincent and Grenadines', 'Serbia', 'Serbia and Montenegro',
       'South Africa', 'Sweden', 'Switzerland', 'United Kingdom',
       'Uruguay', 'Cameroon', 'Guadeloupe', 'Middle Africa +',
       'Indonesia', 'Malaysia', 'Maldives', 'Myanmar', 'Sri Lanka',
       'Thailand', 'Saudi Arabia', 'Zambia'], dtype=object)

In [11]:
crop.info()

NameError: name 'crop' is not defined

In [ ]:
crop = crop.drop(['Notes'], axis =1)

In [ ]:
crop = crop.drop(['Unnamed: 11'], axis = 1)

In [ ]:
, ['Unnamed: 12'], ['Unnamed: 13'], ['Unnamed: 14']

In [ ]:
crop = crop.drop(['Unnamed: 12'], axis = 1)

In [ ]:
crop = crop.drop(['Unnamed: 13'], axis = 1)

In [ ]:
crop = crop.drop(['Unnamed: 14'], axis = 1)

In [ ]:
crop

In [ ]:
crop.Crop.unique()

In [ ]:
crop.Treatment.unique()

In [ ]:
crop['Defra SE regional average yield t/ha'].unique()

In [ ]:
farm.head()

In [ ]:
farm = farm.drop(['Flag Codes'], axis=1)

In [ ]:
farm.LOCATION.value_counts()

In [ ]:
global_food

In [ ]:
globe_year = pd.DataFrame(global_food['year'])

In [ ]:
globe_value = pd.DataFrame(global_food['value'])

In [ ]:
plt.scatter(globe_value, globe_year)

In [ ]:
globe_area =(global_food['country_or_area'])

In [ ]:
global_food.country_or_area.unique()

In [ ]:
food = global_food.dropna()

In [ ]:
food

In [ ]:
country = food.groupby(['country_or_area'])

In [ ]:
mean_country = country.mean()
mean_country

In [ ]:
j = country.category.max()
j.value_counts()

In [ ]:
crop_group = crop.groupby(['Crop'])

In [100]:
crop_group.max()

,Year,Block,Treatment,Field Name,Field Area,Quantity,Yield/ha,Defra SE regional average yield t/ha,Ratio
Crop,,,,,,,,,
Beans,2011,5,ELS extra,Top warren,28.43,83.61,5.200,4.5,1.348
Oilseed Rape,2011,1,ELS extra,Rowley Meadow,11.47,56.25,5.208,4.0,1.302
Oilseed rape,2011,5,ELS extra,Top warren,27.60,123.00,5.930,4.0,1.482
Wheat,2011,5,ELS extra,Top warren,28.43,290.00,12.484,8.3,1.561
Wheat_2nd,2009,3,ELS extra,Thieves Den,21.77,164.00,12.211,8.3,1.489

In [104]:
crop.isnull().sum()

Year                                    0
Block                                   0
Treatment                               0
Field Name                              0
Field Area                              0
Crop                                    0
Quantity                                0
Yield/ha                                0
Defra SE regional average yield t/ha    0
Ratio                                   0
dtype: int64

In [108]:
crop.Crop.value_counts()

Wheat           164
Oilseed rape    124
Beans            44
Wheat_2nd         7
Oilseed Rape      3
Name: Crop, dtype: int64