This Database contains most of the data that I need in order to complete my desired outcomes for my project. There is still a bit of additional data that I am looking for/cleaning that will be completed over the Christmas period.

The idea of my Project is to predict crop output via a variety of different factors that can include country of origin and tyope of crop. Global Weather statistics is still in the works as of now.

The data that has been obtained allows me to focus on a particular region of the UK in great detail, every region of Argentina, every country in Europe and every single country in the world. All regions of the UK is still in the works however there is very little data to use (i.e. only about 10 bits of data).

Below are labelled dictionaries describing the column inputs of each data set.

In [2]:
import pandas as pd
import numpy as np

In [28]:
Argentina = pd.read_csv('../../../DSI7-project-submissions/Capstone/Argentina.csv')

In [46]:
Argentina.columns = [['Title','Description']]

In [50]:
Argentina

       Title                                        Description
0       Year  This states the year of which the samples were...
1  Treatment  The treatment states the level of Organic trea...
2  FieldName      The name of the field in the region of the UK
3  FieldArea                  The area in Hectares of the Field
4       Crop  The type of crop harvested from the field whic...
5      Yield          The amount of crop per hectare harvested.
6     tonnes  The number of tonnes of crop per hectare harve...
7      Ratio  The ratio of crop harvested to tonne harvested...

In [47]:
Argentina.to_dict()

{('Title',): {0: 'Year',
  1: 'Treatment',
  2: 'FieldName',
  3: 'FieldArea',
  4: 'Crop',
  5: 'Yield',
  6: 'tonnes',
  7: 'Ratio'},
 ('Description',): {0: 'This states the year of which the samples were taken. This ranges from 2006-2011',
  1: 'The treatment states the level of Organic treatment that the field has been subject to. This is a range of 1 (Cross-Compliance) to 3 (Extra ELS)',
  2: 'The name of the field in the region of the UK',
  3: 'The area in Hectares of the Field',
  4: 'The type of crop harvested from the field which is a variety of grains and cereals.',
  5: 'The amount of crop per hectare harvested.',
  6: 'The number of tonnes of crop per hectare harvested.',
  7: 'The ratio of crop harvested to tonne harvested per hectare.'}}

This Data is taken from the Argentina crop dataset that was translated from their native Spanish tongue. If there are translation errors I apologise.

In [41]:
Hillstone = pd.read_csv('../../../DSI7-project-submissions/Capstone/Hillstone.csv')

In [42]:
Hillstone.columns = [['Title','Description']]

In [51]:
Hillstone

       Title                                        Description
0       Year  This states the year of which the samples were...
1  Treatment  The treatment states the level of Organic trea...
2  FieldName      The name of the field in the region of the UK
3  FieldArea                  The area in Hectares of the Field
4       Crop  The type of crop harvested from the field whic...
5      Yield          The amount of crop per hectare harvested.
6     tonnes  The number of tonnes of crop per hectare harve...
7      Ratio  The ratio of crop harvested to tonne harvested...

In [43]:
Hillstone.to_dict()

{('Title',): {0: 'Year',
  1: 'Treatment',
  2: 'FieldName',
  3: 'FieldArea',
  4: 'Crop',
  5: 'Yield',
  6: 'tonnes',
  7: 'Ratio'},
 ('Description',): {0: 'This states the year of which the samples were taken. This ranges from 2006-2011',
  1: 'The treatment states the level of Organic treatment that the field has been subject to. This is a range of 1 (Cross-Compliance) to 3 (Extra ELS)',
  2: 'The name of the field in the region of the UK',
  3: 'The area in Hectares of the Field',
  4: 'The type of crop harvested from the field which is a variety of grains and cereals.',
  5: 'The amount of crop per hectare harvested.',
  6: 'The number of tonnes of crop per hectare harvested.',
  7: 'The ratio of crop harvested to tonne harvested per hectare.'}}

This data is from the Hillstone region of the UK. It provides very insightful levels of data including organinc practises.

In [35]:
Euro = pd.read_csv('../../../DSI7-project-submissions/Capstone/euro.csv')

In [36]:
Euro.columns = [['Title','Description']]

In [49]:
Euro

   Title                                        Description
0    Geo  The country of which the crop was harvested fr...
1   Time  The year of which the crop was harvested to se...
2  Crops  This is one of three different ‘crops’; Grassl...
3  Value      The amount of the crop harvested in the type.
4   Type  The type in which the value was harvested. Thi...

In [48]:
Euro.to_dict()

{('Title',): {0: 'Geo', 1: 'Time', 2: 'Crops', 3: 'Value', 4: 'Type'},
 ('Description',): {0: 'The country of which the crop was harvested from. This includes every country from Europe including some regions from each country.',
  1: 'The year of which the crop was harvested to see the change in crop harvest. Ranges from 2009 - 2018.',
  2: 'This is one of three different ‘crops’; Grassland, Cereals and Dry pulses.',
  3: 'The amount of the crop harvested in the type.',
  4: 'The type in which the value was harvested. This is done in Hectares.'}}

This data was collected from Eurostat and after some general cleaning provides insight into types and amounts of crops that are obtained from each individual country as well.

In [52]:
World = pd.read_csv('../../../DSI7-project-submissions/Capstone/world_crops.csv')

In [53]:
World.columns = [['Title','Description']]

In [54]:
World

             Title                                        Description
0  Country_or_area  Contains the names of each country that is inc...
1             Year  This states the year that the data was collect...
2             Unit  This states the unit of measurement that the c...
3            Value  This states the quantity of the crop harvested...
4         Category  This states the type of crop harvested. This r...

In [56]:
World.to_dict()

{('Title',): {0: 'Country_or_area',
  1: 'Year',
  2: 'Unit',
  3: 'Value',
  4: 'Category'},
 ('Description',): {0: 'Contains the names of each country that is included in the Dataset. This Includes Continents as a whole which will be moved to a new Dataset. Included are all the countries found on earth.',
  1: 'This states the year that the data was collected. This ranges from 1961 to 2007. This data will be dummified to be able to show the change in crop production across the different years.',
  2: 'This states the unit of measurement that the crop was collected in. The measurements are in Hectares, Tonnes, Hectograms per Hectares.',
  3: 'This states the quantity of the crop harvested in the various states of Unit.',
  4: 'This states the type of crop harvested. This ranges from Agave fibres to Buckwheat and tubers.'}}

This data shows every country in the world and their crop statistics. It even provides continental data which will be placed into a separate dataset to privide continent statistics too.

In [63]:
global_crops = pd.read_csv('../../../DSI7-project-submissions/Capstone/global_crops_.csv')

In [64]:
global_crops

      country_or_area    year    unit     value          category
0          Americas +  2007.0      Ha   49404.0  agave_fibres_nes
1          Americas +  2006.0      Ha   49404.0  agave_fibres_nes
2          Americas +  2005.0      Ha   49404.0  agave_fibres_nes
3          Americas +  2004.0      Ha   49113.0  agave_fibres_nes
4          Americas +  2003.0      Ha   48559.0  agave_fibres_nes
5          Americas +  2002.0      Ha   48506.0  agave_fibres_nes
6          Americas +  2001.0      Ha   47767.0  agave_fibres_nes
7          Americas +  2000.0      Ha   48747.0  agave_fibres_nes
8          Americas +  1999.0      Ha   46978.0  agave_fibres_nes
9          Americas +  1998.0      Ha   48571.0  agave_fibres_nes
10         Americas +  1997.0      Ha   50904.0  agave_fibres_nes
11         Americas +  1996.0      Ha   52755.0  agave_fibres_nes
12         Americas +  1995.0      Ha   44042.0  agave_fibres_nes
13         Americas +  1994.0      Ha   56571.0  agave_fibres_nes
14         Americas +  1993.0      Ha   54693.0  agave_fibres_nes
15         Americas +  1992.0      Ha   48865.0  agave_fibres_nes
16         Americas +  1991.0      Ha   55943.0  agave_fibres_nes
17         Americas +  1990.0      Ha   53864.0  agave_fibres_nes
18         Americas +  1989.0      Ha   58821.0  agave_fibres_nes
19         Americas +  1988.0      Ha   51399.0  agave_fibres_nes
20         Americas +  1987.0      Ha   51085.0  agave_fibres_nes
21         Americas +  1986.0      Ha   47310.0  agave_fibres_nes
22         Americas +  1985.0      Ha   44993.0  agave_fibres_nes
23         Americas +  1984.0      Ha   46663.0  agave_fibres_nes
24         Americas +  1983.0      Ha   54611.0  agave_fibres_nes
25         Americas +  1982.0      Ha   53828.0  agave_fibres_nes
26         Americas +  1981.0      Ha   50825.0  agave_fibres_nes
27         Americas +  1980.0      Ha   52170.0  agave_fibres_nes
28         Americas +  1979.0      Ha   50079.0  agave_fibres_nes
29         Americas +  1978.0      Ha   49691.0  agave_fibres_nes
...               ...     ...     ...       ...               ...
65469      Americas +  1969.0  tonnes  864539.0          avocados
65470      Americas +  1968.0  tonnes  813867.0          avocados
65471      Americas +  1967.0  tonnes  799653.0          avocados
65472      Americas +  1966.0  tonnes  744853.0          avocados
65473      Americas +  1965.0  tonnes  735599.0          avocados
65474      Americas +  1964.0  tonnes  671988.0          avocados
65475      Americas +  1963.0  tonnes  677359.0          avocados
65476      Americas +  1962.0  tonnes  635462.0          avocados
65477      Americas +  1961.0  tonnes  606374.0          avocados
65478       Argentina  2007.0      Ha     570.0          avocados
65479       Argentina  2006.0      Ha     550.0          avocados
65480       Argentina  2005.0      Ha     533.0          avocados
65481       Argentina  2004.0      Ha     533.0          avocados
65482       Argentina  2003.0      Ha     550.0          avocados
65483       Argentina  2002.0      Ha     550.0          avocados
65484       Argentina  2001.0      Ha     500.0          avocados
65485       Argentina  2000.0      Ha     500.0          avocados
65486       Argentina  1999.0      Ha     500.0          avocados
65487       Argentina  1998.0      Ha     500.0          avocados
65488       Argentina  1997.0      Ha     540.0          avocados
65489       Argentina  1996.0      Ha     540.0          avocados
65490       Argentina  1995.0      Ha     540.0          avocados
65491       Argentina  1994.0      Ha     540.0          avocados
65492       Argentina  1993.0      Ha     530.0          avocados
65493       Argentina  1992.0      Ha     520.0          avocados
65494       Argentina  1991.0      Ha     495.0          avocados
65495       Argentina  1990.0      Ha     495.0          avocados
65496       Argentina  1989.0      Ha     495.0          avocados
65497       Argentina  1988.0      Ha     495.0          avocados
65498       Argentina  1987.0      Ha     495.0          avocados

[65499 rows x 5 columns]